In [1]:
#LIST COMPREHENSION

In [2]:
#PRINT THE SQ. OF THE NO.

series=[]
for i in range(1,11):
    series.append(i*i)
series

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#list comprehension method

series=[i*i for i in range (1,11)]
series

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
##list of numbers to double them .

series=[2*i for i in range (1,11)]
series

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
L=[2,5,4,9,10]
for i in L:
  print(2*i)

4
10
8
18
20

In [15]:
text="Hyy I am 18.1 years old.My house number is 6 in "

In [16]:
num=[float(i) for i in text.split() if i.isdigit()==True]
num

[6.0]

In [21]:
product=["sim","tim","lata","var"]
disc[]

In [22]:
##FUNCTIONS

In [26]:
###USER DEFINED FUNTIONS 

def area_of_triangle(base,height):
  return(0.5*base*height)
area_of_triangle(2,6)

6.0

In [27]:
def area_of_rectangle(L,B):
  return(L*B)
area_of_rectangle(2,9)

18

In [29]:
#add of two num.
def addition(a,b):
  return(a+b)
addition(1,1)

2

In [32]:
##LAMBDA FUNCTIONS

def greater(a,b):
  if a>b:
    return a
  else:
    return b  

great=greater(5,10)
great

10

In [35]:
greater=lambda a,b: a if a>b  else b
greater(100,9)

100

In [36]:
num_list=list(range(1,11))
sq_list=list(map(lambda x:x**2,num_list))
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
num_list=list(range(1,11))
remainder=list(filter(lambda x:x%2==0,num_list))
remainder

[2, 4, 6, 8, 10]

In [38]:
from functools import reduce  #module functool
num_list=[1,2,3,4,5]
reduce(lambda x,y:x*y,num_list)

120